/src/Otus.PublicSale.Core/obj
/src/Otus.PublicSale.Core/bin
/src/Otus.PublicSale.DataAccess/obj
/src/Otus.PublicSale.DataAccess/bin
/src/Otus.PublicSale.Database/obj
/src/Otus.PublicSale.Database/bin
/src/Otus.PublicSale.WebApi/obj
/src/Otus.PublicSale.WebApi/bin
/src/Otus.PublicSale.UnitTests/obj
/src/Otus.PublicSale.UnitTests/bin
/src/Otus.PublicSale.IdentityServer/obj
/src/Otus.PublicSale.IdentityServer/bin
